body {
    padding: 0;
    margin: 0;
}

fieldset {
    background: linear-gradient(to top left, powderblue, pink);
    display: flex;
    margin: 0 auto;
    padding: 25px;
    width: 35%;
}

fieldset > legend {
    margin: 0 auto;
}

fieldset input, select {
    margin: 5px;
    padding: 5px;
}

fieldset input[type="button"] {
    padding: 10px;
    font-size: 0.97em;
    border: 2px solid palevioletred;
    background: transparent;
}

fieldset input[type="button"]:hover {
    cursor: pointer;
    padding: 10px;
    border: 2px solid palevioletred;
    background: pink;
    transition-duration: 600ms;
}

.button-group {
    display: flex;
    justify-content: center;
}